.days {
    width: 80%;
    display: flex;
    justify-content: space-between;
}

.days-loading {
    justify-content: center;
}

.day-div {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    padding-bottom: 5%;
    min-width: 6vh;
    text-align: center;
}

.day-div span img {
    height: 6vh;
}

.day-div.invalid span {
    color: gray;
}

.day-div span:first-of-type {
    font-size: 2.5vh;
}

