.hours {
    display: flex;
    justify-content: space-between;
    width: 80%;
}

.hour-div {
    display: flex;
    flex-direction: column;
    text-align: center;
    min-width: 6vh;
}

.hour-div span img {
    height: 6vh;
}

.hour-div span:first-of-type {
    font-size: 2.5vh;
}

@media screen and (min-width: 601px) {
    .hour-div:nth-of-type(1), .hour-div:nth-of-type(8) {
        margin-top: 25%;
    }
    
    .hour-div:nth-of-type(2), .hour-div:nth-of-type(7) {
        margin-top: 12%;
    }
    
    .hour-div:nth-of-type(3), .hour-div:nth-of-type(6) {
        margin-top: 4%;
    }
    /* 
    .hour-div:nth-of-type(4), .hour-div:nth-of-type(5) {
        
    } */
}

@media screen and (max-width: 600px) {
    .hours {
        width: 100%;
        overflow-x: scroll;
        padding: 0 2vh;
    }
    .hour-div {
        min-width: 7vh;
        padding: 0 1vh;
    }
}