.hours {
    display: flex;
    justify-content: space-between;
    width: 80%;
}

.hour-div {
    display: flex;
    flex-direction: column;
    text-align: center;
    min-width: 6vh;
}

.hour-div span img {
    height: 6vh;
}

.hour-div span:first-of-type {
    font-size: 2.5vh;
}

