.hours {
    display: flex;
    justify-content: space-between;
    width: 80%;
}

.hour-span {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.hour-span span:first-of-type {
    font-size: x-large;
}

.hour-span:nth-of-type(1), .hour-span:nth-of-type(8) {
    margin-top: 25%;
}

.hour-span:nth-of-type(2), .hour-span:nth-of-type(7) {
    margin-top: 12%;
}

.hour-span:nth-of-type(3), .hour-span:nth-of-type(6) {
    margin-top: 4%;
}

.hour-span:nth-of-type(4), .hour-span:nth-of-type(5) {
    
}