.menu {
    margin-top: -20%;
    min-width: 50vh;
}

.menu section {
    display: flex;
    justify-content: space-between;
}

.menu section div:first-of-type {
    display: flex;
    flex-direction: column;
}

.menu input {
    width: 50vh;
    background-color: black;
    border: none;
    height: 5vh;
    padding: 0 1vh;
}

.menu input:focus {
    outline: none;
}

.set-c-f {
    cursor: pointer;
}

@media screen and (max-width: 600px) {
    .menu {
        min-width: unset;
    }

    .menu input {
        width: 80vw;
        background-color: black;
        border: none;
        height: 5vh;
        padding: 0 1vh;
    }
}